{% extends "template.html" %}
{% block body-class %}index{% endblock %}
{% block title %}Classify Reviews Easily{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1>Classifing Reviews!</h1>
	<p class="lead">Nonsense is a service that utilizes machine learning to predict the category of reviews, their rating and positivity.</p>
	<p><a class="btn btn-lg btn-success" href="{% url 'classify' %}" role="button">Classify Reviews Now!</a></p>
</div>
        

<div class="row">
	<div class="col-lg-4">
	  <h2>Classification</h2>
	  <p><strong>Category: </strong> Movie, Game, or Music</p>
	  <p><strong>Rating: </strong> 1-5</p>
	  <p><strong>Rating (NLP): </strong> 1-5 (selecting only nouns, adjectives, verbs and exclamation mark)</p>
	  <p><strong>Positivity: </strong> Positive or Negative</p>
	</div>
	<div class="col-lg-4">
	  <h2>Machine Learning</h2>
        <p><strong>Category: </strong> Single-layer Averaged Perceptron (SLP)</p>
	  <p><strong>Rating: </strong> Single-layer Averaged Perceptron (SLP)</p>
	  <p><strong>Rating (NLP): </strong> Support Vector Machine (SVM)</p>
	  <p><strong>Positivity: </strong> Naive Bayes (NB)</p>
	</div>
	<div class="col-lg-4">
	  <h2>Open Source</h2>
	  <p></p>
	  <p><a class="btn btn-primary" href="https://github.com/mokha/no-n-sense" role="button"><i class="fa fa-github fa-2"></i> View Code &raquo;</a></p>
	</div>
</div>

{% endblock %}